extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/33')
		p.
			A l’aide de l’ensemble des données que nous avons récoltées au cours de nos recherches de TPE nous avons pu établir que le système olfactif de l’être humain est un ensemble complexe permettant d’analyser des substances chimiques volatiles (odeurs) présentes dans l’air par le biais de divers récepteurs. Ces particules odorantes sont perçues par le cerveau, analysées et mémorisées selon leurs propriétés physico-chimiques.
		.space
		p.
			Nous avons également pu remarquer que le système olfactif est pourvu de troubles difficilement traitables (anosmie, hyposmie), qui représentent chacun un handicap pour la personne touchée.
		.space
		p.
			Afin de proposer une solution à ces dysfonctionnements nous avons mis en évidence des outils algorithmiques s’apparentant à l’intelligence artificielle : les systèmes experts. Capables de remplacer la réflexion de l’Homme dans les tâches qui lui sont confiées, ils semblaient pouvoir remplacer les chaînons défectueux du système olfactif, notamment au niveau neurologique. En s’additionnant à des capteurs de particules, les systèmes experts auraient en effet pu constituer un « nez artificiel » capable de détecter, interpréter et retransmettre au cerveau les odeurs perçues.
		.space
		p.
			Toutefois, après l’analyse des limites des différents composants et des moyens techniques actuellement disponibles, il semblerait que ce projet ne soit pas réalisable car des contraintes de taille nous sont posées :
		.space
		p.
			La marge des odeurs reconnaissables par les capteurs est très faible en comparaison avec le système olfactif de l’Homme, leur mode de fonctionnement ne s’associe pas forcément aux contraintes d’intégrité de l’Homme et leur fiabilité et efficacité est remise en cause au cours du temps.  Les systèmes experts présentent également des difficultés : leur base de règles trop élevée (millions de particules odorantes différentes) les dispenserait d’une analyse rapide, limitant leur instantanéité. Leur utilisation ne servirait par ailleurs qu’à pallier un faible pourcentage des troubles : seulement les atteintes neurologiques du système olfactif seraient surmontées. Enfin les enjeux majeurs de ce projet sont pour le moment irréalisables : l’implantation d’un « nez artificiel » (capteur et systèmes expert) dans le système olfactif nécessiteraient l’adaptation de ses bases de fonctionnement aux contraintes du corps humain, autrement dit son rattachement par un moyen efficace à la zone atteinte du système nerveux, et surtout sa miniaturisation.
		.space
		p.
			Bien que le projet d’un « nez artificiel » ne soit pour l’instant pas réalisable, nous pouvons d’ors et déjà nous pencher sur l’une des principales contraintes qui justement l’empêchent d’aboutir : la nécessité d’une miniaturisation du système et son adaptation au corps humain. Cette difficulté étant essentiellement posée par les caractéristiques fonctionnelles des capteurs, nous pouvons nous demander si la réalisation de « nanocapteurs » adaptables à l’Homme (sans entrer en conflit avec son intégrité) est possible et quels seraient alors ses principes de fonctionnement s’ils lui étaient implantés.
