extend layout

block content
	.Page(rightlink='http://nezartificiel.ovh/11')
		p.
			Le système olfactif est l’outil essentiel qui permet à l’Homme de capter, assimiler et reconnaître les odeurs qui l’entourent. Le mécanisme qui constitue ce processus s’organise par une chaîne de plusieurs outils captatifs et réceptifs : ces derniers peuvent être pourvus de nombreux troubles qui diminuent, augmentent ou même annihilent les capacités olfactives des personnes qui en souffrent. Les causes qui les définissent, bien que différentes, ont des conséquences semblables à long terme : c’est la psychologie des patients qui est directement atteinte. Une perte de repères, une insécurité liée à l’incapacité des individus à contrôler leur propre odeur et, plus généralement, une diminution de la qualité de vie des patients sont ainsi observées et peuvent dans les cas extrêmes mener à une dépression. En bref, l’olfaction est un sens essentiel pour l’Homme et les troubles le concernant peuvent être de réels handicaps au quotidien.
		p.
			Après quelques recherches à ce sujet, nous nous sommes pourtant rendus compte que de réelles solutions médicales n’étaient  pour l’instant pas envisageables pour pallier ces troubles. En puisant dans nos connaissances personnelles nous nous sommes alors intéressés à des supports qui, bien que n’ayant aucun lien apparent avec les troubles olfactifs, nous semblaient être des possibilités exploitables : les algorithmes, et plus particulièrement les « systèmes experts », outils numériques capables de remplacer l’Homme dans les diverses tâches qui lui sont confiées. En substituant certains aspects de l’intelligence humaine par une intelligence artificiellement créée, il serait ainsi possible de dépasser les difficultés posées à la médecine. 
		p.
			Cette réflexion préliminaire nous a ainsi conduits à nous poser la question suivante:
		.widget
			h1 Peut-on créer des systèmes experts capables de pallier les troubles olfactifs des êtres humains ?
		.space
		p.
			Pour tenter  de répondre à cette interrogation, nous articulerons notre projet en trois parties. Dans un premier temps, nous nous intéresserons aux troubles du système olfactif et à leurs caractéristiques, puis nous introduirons la notion de "systèmes experts", outils numériques qui pourraient présenter une solution à ces divers dysfonctionnements, pour ensuite proposer des moyens à mettre en œuvre pour pallier les troubles de l'olfaction, entre autres, un "nez artificiel". 
