extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/' rightlink='' )
		h1 Le système olfactif
		img(src='img/sectionI/schemanez.png')
		p <b>Fonctionnement</b> :
		.space
		p.
			L’odorat est le fruit de la rencontre, dans la muqueuse nasale, entre des molécules odorantes et les 10 millions de cellules réceptrices qui forment notre système olfactif. Ces cellules, sont des neurones, ils captent l’information par des cils dont la membrane est composée des protéines réceptrices, ce qui leur permet de détecter et reconnaître plus de 10 000  effluves a des concentrations différentes. Lorsqu’une odeur est captée, un signal provoque une série de réactions chimiques et électriques, l’information nerveuse qui en résulte empreinte un axone pour accéder au bulbe olfactif. Celui-ci trie les informations et les envoie au cortex olfactif par le tractus olfactif où elles sont reconnus et associées.

	.Page(leftlink='' rightlink='')
		h1 Reconnaissance
		img(src='img/sectionI/fraise.png')

	.Page(leftlink='' rightlink='http://nezartificiel.ovh/12' )
		h1 Schéma du système olfactif
		img(src='img/sectionI/nez.png')
		p.
			Il faut aussi savoir que le système olfactif a deux voies possibles pour capter les odeurs, l’une par le nez appelée l’olfaction directe et l’autre par la bouche appelée olfaction rétronasale. En effet, lorsque nous mangeons des aliments, il en résulte des arômes, ces arômes contiennent des molécules qui lorsqu’elles sont captées par les récepteurs du système olfactif (c’est-à-dire les cils) conduisent elles-aussi à une information nerveuse olfactive.