extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/12' rightlink='' )
		p Les troubles de l’odorat sont appelés <b>dysosmies</b>.
		p Elles sont répertoriées en  deux catégories : les <b>quantitatives</b> et les <b>qualitatives</b>.
		.space
		p Les troubles quantitatifs comportent :
		ul
			li.
				L’<b>anosmie</b>, la  perte totale de l'odorat
			li.
				L’<b>hyposmie</b>, la diminution de la perception d’une odeur
			li.
				L’<b>hyperosmie</b>, la perception d’une odeur trop développée
		p Les dysosmies qualitatives comportent : 
		ul
			li.
				<b>La parosmie</b>, une distorsion d'une odeur vers une autre odeur, généralement désagréable 
			li.
				<b>La fantosmie</b>, une odeur fantôme agréable ou désagréable qui survient sans qu'une source d'odeur soit présente 
			li.
				<b>La cacosmie objective</b>, qui est la perception d’une mauvaise odeur qui existe réellement à l'intérieur du corps du sujet

	.Page(leftlink='' rightlink='' )
		h1 Quelles sont les causes de ces troubles ?
		.space
		ul
			li.
				<b>34%</b>  Origines <b>infectieuses</b> telles que le rhume, la grippe et la sinusite. Les infections sont les causes les plus fréquentes, il s’agit de troubles en général temporaires et origines <b>rhinosinusiennes</b> caractérisées par une inflammation des fosses nasales, telles que l'allergie respiratoire, la rhinite aiguë ou chronique, la polypose nasosinusale (formation de polypes, amas de tissus, dans les voies nasales).
			li.
				<b>25%</b> Origines <b>post-traumatiques</b> : un traumatisme crânien pouvant sectionner les nerfs olfactifs, qui se trouvent entre le nez et le cerveau.
			li.
				<b>38 %</b> Origines <b>neurologiques</b> liées à : des tumeurs ou à des maladies dégénératives telles que la maladie d'Alzheimer, les tumeurs des voies et des centres olfactifs, la sclérose en plaques ou la maladie de Parkinson.
			li.
				<b>4 %</b> Origines <b>médicamenteuses</b> : certains médicaments, tels que la codéine ou la morphine et certains traitements médicaux, tels que la radiothérapie cervicale, la chimiothérapie et l'hémodialyse peuvent entraîner des troubles olfactifs.
			li.
				<b>2%</b>Origines <b>pathologiques générales</b> comme chez les diabétiques où les dommages neurologiques peuvent endommager les nerfs de l'olfaction
			li.
				<b>4%</b>Origines <b>chimiques</b> : l’inhalation de produits toxiques, tels que le tabac, le gaz naturel, la poussière de ciment, le goudron, l'essence, le plomb, prise de drogues ou de stupéfiants, le zinc, le dioxyde de soufre, le chrome, etc.
			li.
				<b>5%</b>Origines <b>« naturelles »</b> telles que le vieillissement, qui augmente le risque de dysosmies surtout à partir de 80 ans.
			li.
				<b>3%</b> Origines <b>congénitales</b>
			li.
				<b>15%</b> Origines <b>idiopathiques</b> : dans la plupart des centres spécialisés dans les investigations des troubles de l'odorat, aucune cause ne peut être identifiée, les troubles sont alors dits idiopathiques.
	.Page(leftlink='' rightlink='http://nezartificiel.ovh/21' )
		h1 En image...
		img(src='img/sectionI/camembert.png')
		.Caption
			p Pourcentage des causes des troubles olfactifs (valeur théorique) pour les patients français