extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/32' rightlink='' )
		p.
			Un système expert s’appliquant au système olfactif de l’Homme serait donc réalisable avec des composants internes spécifiques et un schéma algorithmique précis. Néanmoins certaines contraintes seraient à envisager lors de la réalisation de ce projet : en effet des limites existent au niveau des composants physiques et numériques, ce qui frêne leurs capacités à interagir avec l’Homme.
		.space
		p On retrouve des <b>limites pour les composants « captatifs »</b> :
		ul
			li.
				Leur marge de reconnaissance est infime  par rapport à celle du nez humain.

			li.
				Ils possèdent des limites spécifiques (fiabilité, travail à long terme, atmosphère et température de fonctionnement). On retrouve ainsi des défauts pour les capteurs chimiques à oxyde de métaux, les capteurs à polymères organiques et les biocapteurs.
			li.
				Ils nécessitent la réception d’un débit de particules constant et leur temps de réponse.
	.Page(leftlink='' rightlink='')
		p On retrouve aussi des <b>limites pour les composants numériques</b> :
		ul
			li.
				Le champ des données est extrêmement vaste : l’apprentissage et le temps de réponse sont rallongés.
			li.
				La retransmission des données au cerveau semble difficilement réalisable.
			li.
				Les systèmes experts ne pourraient pallier que les troubles de type anosmie ou hyposmie neurologiques.
	.Page(leftlink='' rightlink='http://nezartificiel.ovh/end')
		p On retrouve enfin des <b>difficultés liées aux interactions entre l’Homme et le « nez artificiel »</b> :
		ul
			li.
				Un risque de surchauffe et d’instabilité est liée aux capteurs : les propriétés des matériaux à utiliser sont à prendre en compte.
			li.
				Le lent temps de réponse des systèmes experts limite la retransmission du message neuronal au cerveau.
			li.
				La multitude de capteurs à utiliser pose un problème au niveau des coûts et de la taille du système final.  