extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/21' rightlink='http://nezartificiel.ovh/23' )
		.space
		.widget
			h2 <b>Un algorithme</b> est un ensemble d'instructions permettant de résoudre un problème.
		.space
		p.
			L'algorithme, définit précédemment, permet de résoudre tout type de problème. Il a besoin de travailler avec une base de données,
			en quelque sorte toutes les variables dont il aura besoin d'avoir connaissance pour mener à bien les instructions qui lui ont été
			données. Tous les jours, nous nous en servons sans y penser forcément: lorsque l'on cuisine, nous suivons une procédure, appelée
			la recette, qui est en réalité un algorithme. Il s'exprime sous de multiples formes, et est souvent employé pour décrire pas à pas
			le fonctionnement d'un système, comme illustré ci dessous:
		img(src='img/sectionII/algorithme.png')
		.Caption
			p Exemple d'algorithme
		.space
		p.
			Les systèmes experts se servent d'algorithmes dans leur moteur d'inférence, il existe deux types d'algorithmes pour les systèmes
			experts:
		ul
			li Le chaînage avant
			li Le chaînage arrière