extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/22' rightlink='' )
		h1 Exemples concrets d’utilisation de systèmes experts dans la médecine
		.space
		ul
			li.
				<b>L’insuffisance rénale</b> : pour analyser les dialyses des patients.
			li.
				<b>L’anémie</b> : pour le regroupement et la confrontation des différentes analyses des patients. 
			li.
				<b>L’analyse de signaux</b> : pour l’analyse et la reconnaissance de rythme cardiaque (souvent utilisés en anesthésie).
			li.
				<b>L’analyse d’images médicales</b> : pour la mesure des radiographies ou des images IRM (diagnostics ou les interventions chirurgicales).
			li.
				<b>Le scoring et pronostic</b> : pour le classement  d’images médicales complexes sur la base de données, pour des pronostics (médecine intensive ou oncologie).
			li.
				<b>La thérapie</b> : pour la prescription de médicament, pour le dosage et l’avertissement en cas d’interactions et contre-indications (médecine ambulatoire et stationnaire).  
			li.
				<b>Le système de diagnostic</b> : composé de banques de données, qui tient compte des maladies rares mais pas des fréquences des symptômes et de l’incidence des maladies, (très peu implanté dans le quotidien médical).
		.space
		p Les bénéfices de l’implantation des systèmes experts dans la médecine : 
		ul
			li.
				Ils assurent aux médecins la tranquillité de savoir que tous les résultats ont été analysés
			li.
				Ils peuvent le guider dans son action en vérifiant sa conformité aux bonnes pratiques. Des améliorations de la qualité de vie et de la sensation de sécurité chez les patients ont été constatées
	.Page(leftlink='' rightlink='' )
		h1 Exemples concrets  de systèmes experts palliant les troubles d’un autre sens de l’être humain : la vue
		img(src='img/sectionII/schemalunette.png')
		.Caption
			p Fonctionnement du système expert
		p.
			Ce prototype créé en 2001, est capable de visionner fortement les contours des objets. Il est composé d’une paire de lunettes sur laquelle sont fixés une caméra qui filme l’environnement et un capteur de distance qui évalue celles-ci entre l’individu portant et les objets qui l’entourent. Les informations sont ensuite directement envoyées à un ordinateur qui est relié par des câbles à des électrodes qui sont implantées dans le cortex optique du patient, ce qui permet au patient de percevoir les formes des personnes ou obstacles environnants et ainsi de retrouver une autonomie.
	.Page(leftlink='' rightlink='http://nezartificiel.ovh/31' )
		h1 Larry Hester
		img(src='img/sectionII/larry.png')
		.Caption
			p Photo de Larry Hester
		.space
		p.
			Ce second prototype est plus élaboré, en effet l’ordinateur est remplacé par une électrode située dans l’œil qui est directement reliée au nerf optique. <b>Larry Hester</b> est la première personne à en avoir bénéficié, devenu aveugle dans les années 1980 à la suite d’une grave maladie de la rétine, cet américain peut maintenant distinguer la lumière ainsi que les personnes et les objets qui l’entourent grâce à sa prothèse. Bien que ce système se montre désormais concluant, le nombre de patients pouvant en bénéficier reste très limité, en effet, on estime à environ une centaine de personnes dans le monde seulement qui sont aujourd’hui équipées de cette prothèse. 