extend layout

block content
	.Page
		p.
			Omnipotent subsidiaire aseptise9 annihiler infaillibilite fastidieux
		p.
			Palimpseste laps de temps minus haben
			h1 abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz
		.widget
			p 12345678910
		.space
		p.
			AAAAAAAAAAAAAAAAAAAA
	.Page