extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/31' rightlink='http://nezartificiel.ovh/33' )
 		p.
 			Omnipotent subsidiaire aseptise9 annihiler infaillibilite fastidieux
 		p.
 			Palimpseste laps de temps minus haben
 			h1 abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz
 		.widget
 			p 12345678910
 		.space
 		p.
 			AAAAAAAAAAAAAAAAAAAA
	
