extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/23' rightlink='' )
		h1 La carte mentale
		.space
		p.
			La carte mentale est un moyen utilisé pour clarifier des idées. Elle est souvent utilisée en géographie et en psychologie pour faire représenter au patient ce qu’il voit du monde qui l’entoure, comme par exemple sa ville, ses interactions avec son environnement, sa vision des choses… Dans notre cas, on s’en sert pour représenter les odeurs.
		.space
		p.
			C’est-à-dire qu’une odeur n’est jamais associée qu’à l’odorat, elle est aussi associée à un goût et à la vue, mais aussi le toucher. Lorsque l’on sent une odeur, notre cerveau va aller chercher la « carte », image fictive correspondant à ce que l’on sent, déterminée par des critères de goût, d’odorat, de toucher et de vue.
		.space
		p.
			Le lien se situe à ce niveau : il faut que le système expert soit capable de communiquer avec la carte mentale du cerveau, et d’y introduire ses découvertes de « nouvelles odeurs ».
	.Page(leftlink='' rightlink='http://nezartificiel.ovh/32')
		h1 Pour la remplacer par un système expert, il faudrait qu'il ait..
		.space
		ul
			li.
				Une capacité à intégrer les mesures prises et transmettre au cerveau ses résultats
			li.
				Une faculté de savoir s’arrêter et de distinguer la partie cerveau/algorithme du système expert, car chaque personne n’a pas forcément le même dysfonctionnement