extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/11' rightlink='' )
		p.
			Contrairement à la lumière et au son, qui, en tant que phénomènes vibratoires, se laissent décrire et caractériser par des grandeurs physiques basiques (fréquence et intensité), une odeur ne se caractérise que par un ensemble de plusieurs paramètres : <b>les propriétés physico-chimiques des molécules odorantes.</b>
		.space
		p On retrouve alors les propriétés suivantes :
		ul
			li.
				<b>La masse molaire moléculaire</b> : une molécule odorante doit être volatile et donc avoir une masse molaire comprise entre 30 g/mol et 300 g/mol

			li.
				<b>La concentration molaire</b> : « l’image » d’une odeur n’est nette que pour une concentration assez élevée, le seuil de détection minimal pour l’Homme étant de 10-17 mol/L

			li.
				<b>La polarité</b> : toute molécule peut être classée selon sa polarité, une molécule odorante étant souvent peu polaire voir apolaire (cf. échelle de polarité)

			li.
				<b>La solubilité</b> : les molécules odorantes se solubilisent dans les solvants peu ou apolaires tels que les huiles et les graisses ; elles peuvent donc se solubiliser dans le mucus nasal

			li.
				<b>L'isomérie</b> : les molécules qui partagent une même formule brute mais ne possèdent pas la même formule semi-développée donnent des odeurs différentes (cf. formules semi-développées de deux molécules)

			li.
				<b>La chiralité</b> : deux énantiomères donnent des odeurs différents malgré le fait que les molécules soient identiques (cf. principe de chiralité et exemple de deux molécules odorantes chirales) 
	.Page(leftlink='' rightlink='' )
		h1 Echelle de polarité
		img(src='img/sectionI/echellepolarite.png')
	.Page(leftlink='' rightlink='')
		h1 L'isomérie
		img(src='img/sectionI/molecule.png')
		.Caption
			p Formule semi-développées de deux molécule
	.Page(leftlink='' rightlink='http://nezartificiel.ovh/13')
		h1 La chiralité
		img(src='img/sectionI/chiralite.png')
		.Caption
			p Principe de chiralité
		img(src='img/sectionI/chiralite2.png')
		.Caption
			p Exemple de molécules odorantes chirales

