extend layout

block content
	.Page(leftlink='http://nezartificiel.ovh/31' rightlink='' )
		h1 Le nouveau capteur
		.space
		p.
			Le projet de créer un nez artificiel dans le but de pallier les troubles olfactifs existe déjà. Celui-ci se compose d’un « nez électronique » à l’échelle nanométrique, capable d’analyser son environnement et de reconnaitre sa composition.
		img(src='img/sectionIII/nanoceinture.png')
		.Caption
			p Illustration du capteur
		p Une équipe de chercheurs a récemment sélectionné un nouveau capteur pour reproduire notre système olfactif. Il est composé :
		ul
			li.
				D’une nanoceinture en dioxyde d’étain
			li.
				De capteurs, délimités par des électrodes (possédant des contacts électriques), placés à différents endroits sur la nanoceiture
			li.
				D’un élément actif : un nanofil individuel placé sur la nanoceinture
			li.
				De catalyseurs au palladium
	.Page(leftlink='' rightlink='http://nezartificiel.ovh/33')
		h1 Comment différencier les gaz ?
		.space
		p.
			Etant donné que chaque capteur doit reconnaitre un gaz particulier, ce sont les variations de résistances le long de la nanoceinture, qui permettent de reconnaitre les gaz. Ce nouveau prototype de nez artificiel est : 
		ul
			li.
				Capable de reconnaitre certaines odeurs entre elles
			li.
				Plus ergonomiques que ses prédécesseurs, car il est composé d’un seul nanofil, donc il est moins complexe, moins fragile et moins coûteux
		.space
		p Néanmoins, celui-ci présente aussi des contraintes : 
		ul
			li.
				Il n’a la capacité que de repérer une petite quantité d’odeurs sur les millions qui constituent notre environnement
			li.
				Il ne peut ni amplifier ni atténuer les odeurs si nécessaires, il ne peut donc pallier tous les troubles olfactifs
			li.
				Il n’est pas adaptable à l’Homme
		.space
		p.
			Ainsi, nous pouvons dire qu’à ce jour il n’existe aucun prototype réel de nez artificiel assez concluant pour pallier les troubles olfactifs des êtres humains, mais que les chercheurs se rapprochent peu à peu ce celui-ci.